html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: contrast(110%) brightness(140%) saturate(175%);
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.noShow {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.gameItem {
  z-index: 10;
  /* border: 5px solid white; */
}

/* #marker {
  z-index: 100;
  position: fixed;
  top: 200;
  left: 200;
} */

.loading {
  /* margin-top: 200px;
  margin-left: 300px; */
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

#countdownDiv {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 13s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 13s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 13s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 13s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

#countdownGif {
  z-index: 11;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getIntoTheFrame {
  z-index: 8;
  /* position: fixed;
  top: 50px;
  left: 300px */
}

#ready {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#bodyMeasurements {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

#score {
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  font-size: 70px;
}
