body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}

.footer-text {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.noShow {
  display: none !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}

.footer-text {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.gameObject {
  z-index: 10;
  /* border: 5px solid white; */
}

.loading {
  height: 200px;
  margin-top: 200px;
  margin-left: 300px;
}

.centered {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}
