html {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar {
  width: 1em;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(29, 255, 187)),
    color-stop(0.72, rgb(34, 211, 255)),
    color-stop(0.86, rgb(0, 160, 209))
  );
}

a:link {
  color: rgb(0, 216, 180);
}

a:visited {
  color: rgb(0, 216, 180);
}

a:hover {
  color: rgb(212, 0, 255);
}

body {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgb(145, 246, 255);
  background: linear-gradient(
    180deg,
    rgb(98, 195, 255) 0%,
    rgb(145, 246, 255) 32%,
    rgb(221, 249, 255) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.homePage {
  position: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#logo {
  width: 700px;
}

#homeButtons {
  margin-left: -30px;
}

#startButton {
  margin-top: -60px;
  margin-bottom: 10px;
}

#leaderboardButton {
  margin-bottom: 10px;
}

form {
  margin-bottom: 50px;
  text-align: center;
}

#formContainer {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 180px;
}

#instructions {
  margin-top: 30px;
  margin-bottom: 45px;
}

#privacy {
  margin-bottom: 100px;
}

#homeCenterOffset {
  margin-left: -30px;
}

.homePageText {
  width: 630px;
  border: 4px solid #a0ffe2;
  border-radius: 25px;
  background: #edfffb;
}

.homePage p {
  width: 580px;
  color: #34a7c1;
  font-size: 14pt;
  line-height: 25pt;
}

#punchMan {
  margin-left: -850px;
  margin-top: -260px;
}

#punchMan2 {
  margin-left: 878px;
  margin-top: -310px;
}

#aboutTheGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#aboutTheGame img {
  margin-bottom: -10px;
  margin-left: 14px;
}

#githubButton {
  padding: 10px 20px;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#aboutUs img {
  margin-bottom: -40px;
  margin-left: 10px;
}

.aboutText {
  width: 630px;
  border: 4px solid #a0ffe2;
  border-radius: 25px;
  background: #edfffb;
  text-align: center;
}

.aboutText p {
  width: 580px;
  color: #34a7c1;
  font-size: 14pt;
  line-height: 25pt;
  margin-left: 20px;
}

.aboutText h1 {
  width: 580px;
  color: #2895ad;
  margin-left: 20px;
}

.aboutText h2 {
  width: 580px;
  color: #2895ad;
  margin-left: 20px;
}

.aboutText h3 {
  width: 580px;
  color: #2895ad;
  margin-left: 20px;
}

.aboutText ul {
  font-size: 11pt;
  list-style: none;
  width: 580px;
  color: #34a7c1;
  line-height: 25pt;
  padding: 0;
  margin-left: 25px;
  text-align: center;
}

#gameSelectTitle {
  margin: 50px;
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: contrast(110%) brightness(140%) saturate(175%);
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.noShow {
  display: none !important;
}

.errorWarning {
  color: rgb(192, 15, 15);
  font-weight: bold;
  font-size: 10px;
}

.fieldError {
  border: 1px solid red;
}

#scoreSubmitSpaceFiller {
  min-height: 180px;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.gameItem {
  z-index: 10;
}

.loading {
  height: 250px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdownDiv {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 6s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 6s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 6s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 6s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

#countdownGif {
  z-index: 11;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getIntoTheFrame {
  z-index: 8;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#ready {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.gameInfo {
  display: flex;
  flex-direction: column;
}

#score {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 175px;
  color: rgb(22, 179, 145);
  font-size: 40px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#scoreText {
  height: 50px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

#time {
  z-index: 10;
  position: fixed;
  top: 55px;
  left: 175px;
  color: rgb(22, 179, 145);
  font-size: 40px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#timeText {
  height: 50px;
  z-index: 10;
  position: fixed;
  top: 55px;
  left: 0;
}

#level {
  z-index: 10;
  position: fixed;
  top: 110px;
  left: 175px;
  color: rgb(22, 179, 145);
  font-size: 40px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#levelText {
  height: 50px;
  z-index: 10;
  position: fixed;
  top: 110px;
  left: 0;
}

#pauseButton {
  height: 40px;
  position: fixed;
  z-index: 10;
  left: 5px;
  top: 115px;
}

#bombPauseButton {
  height: 40px;
  position: fixed;
  z-index: 10;
  left: 5px;
  top: 165px;
}

#pausedText {
  margin-left: 50px;
}

#pauseScreen {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#youWin {
  margin-top: -55px;
}

#youDied {
  margin-top: -35px;
}

#finalTime {
  margin-top: -115px;
  font-size: 40px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#finalLevel {
  margin-top: -45px;
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#replayButton {
  margin-top: 15px;
  height: 67px;
  margin-right: 10px;
}

#homeButton {
  margin-top: 15px;
}

#aboutHomeButton {
  margin-top: 22.25px;
  height: 52px;
}

.sprite {
  height: 100px;
}

#sam {
  margin-left: -100px;
  margin-top: -395px;
}

#cassie {
  margin-left: 100px;
  margin-top: 70px;
}

#kirsten {
  margin-left: -75px;
  margin-top: 75px;
}

#selectBackButton {
  margin-top: 20px;
}

#gameSelectDiv {
  display: flex;
  align-content: center;
  flex-direction: column;
}

#suddenDeath {
  margin-bottom: 25px;
}

button {
  background-color: #a442b8;
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 15px 28px;
  border: none;
  font-size: 12pt;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #8017d6;
  box-shadow: 0 0 5px 3px rgb(255, 170, 255);
}

.button:hover {
  box-shadow: 0 0 5px 3px rgb(29, 255, 116);
}

.homeButton:hover {
  box-shadow: 0 0 5px 3px rgb(29, 210, 255);
}

.continueButton {
  margin-bottom: 10px;
  max-width: 203px;
}

.continueButton:hover {
  box-shadow: 0 0 5px 3px rgb(144, 132, 255);
}

#highscores {
  top: 100;
  left: 200;
  color: 'white';
}

#noMatch h3 {
  color: white;
  text-shadow: 2px 4px 8px #80b1c2;
}

#leaderBoardButton {
  padding: 6px 12px;
  line-height: 25px;
  vertical-align: center;
  margin-left: 10px;
  margin-top: 8px;
}

button:disabled {
  background-color: rgb(184, 184, 184);
  color: rgb(212, 212, 212);
  box-shadow: none;
}

.leaderboard {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
}

.oneBoard {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.boardComp {
  align-self: center;
  width: 170px;
}

.scoreComp {
  display: flex;
  flex-direction: column;
}

#spaceChanger {
  min-height: 110px;
}

#scoreSubmitForm {
  align-self: center;
  text-align: center;
}

#hallOfFame {
  margin: 0 auto;
  margin-bottom: 10px;
}

.leaderboardGameButton {
  margin-bottom: 15px;
}

#leaderboardHomeButton {
  height: 50px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#highscores {
  /* width: 630px; */
  border: 4px solid #a0ffe2;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(145, 246, 255) 32%,
    rgb(92, 208, 235) 100%
  );
}

.playerScore p {
  /* width: 580px; */
  color: #34a7c1;
  font-size: 14pt;
  line-height: 25pt;
  text-align: center;
}

.submitScoreFromGame {
  padding: 9px 15px;
  margin-top: 10px;
}

.replayHomeButtons {
  display: flex;
  flex-direction: row;
}

#aboutBottomButtons {
  display: flex;
  margin-bottom: 100px;
  margin-top: 50px;
  justify-content: center;
}

#aboutToBottomButton {
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: rgb(92, 212, 216);
}

#aboutToBottomButton:hover {
  background-color: rgb(86, 198, 202);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

#aboutToTopButton {
  margin-top: 20px;
  margin-left: 10px;
  background-color: rgb(92, 212, 216);
}

#aboutToTopButton:hover {
  background-color: rgb(86, 198, 202);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

#homeToTopButton {
  /* margin-top: 15px; */
  margin-right: 20px;
  background-color: rgb(92, 212, 216);
  margin-bottom: 50px;
}

#homeToTopButton:hover {
  background-color: rgb(86, 198, 202);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

#homeToBottomButton {
  margin-top: 15px;
  margin-left: 10px;
  background-color: rgb(92, 212, 216);
}

#homeToBottomButton:hover {
  background-color: rgb(86, 198, 202);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}
