body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}

.footer-text {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}
