html {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  overflow: scroll;
}

body {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgb(109, 199, 255);
  background: linear-gradient(
    180deg,
    rgba(109, 199, 255, 1) 0%,
    rgba(157, 247, 255, 1) 32%,
    rgba(222, 249, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.homePage {
  position: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 700px;
}

#homeButtons {
  margin-left: -30px;
}

#startButton {
  margin-top: -60px;
  margin-bottom: 10px;
}

#instructions {
  margin-top: 30px;
  margin-bottom: 100px;
}

#instructionsText {
  width: 625px;
  border: 4px solid #a0ffe2;
  border-radius: 25px;
  background: #edfffb;
}

#instructions p {
  width: 570px;
  color: #34a7c1;
  font-size: 14pt;
  line-height: 25pt;
}

#aboutText {
  margin-top: -60px;
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: contrast(110%) brightness(140%) saturate(175%);
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.noShow {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

.gameItem {
  z-index: 10;
}

.loading {
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

#countdownDiv {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 6s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 6s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 6s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 6s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

#countdownGif {
  z-index: 11;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getIntoTheFrame {
  z-index: 8;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#ready {
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* fade out: */
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#bodyMeasurements {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

#score {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  font-size: 40px;
}

#replayButton {
  z-index: 50;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
